:root {
  --spacing: 8px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #eeeeee;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  line-height: 1.5;
  } 

.search-form {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: coral;
  width: 100%;
  min-height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: var(--spacing);
}

.search-form > button {
  border-color: transparent;
  border-radius: 30px;
  padding: var(--spacing) calc(var(--spacing) * 2);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
}
.search-form > button:hover {
  background-color:brown;
  
}

.search-form > input {
  border-color: transparent;
  border-radius: 30px;
  min-width: 240px;
  max-width: 320px;
  padding: var(--spacing);
  font-size: 24px;
}

.search-form > input:focus {
  outline-color: transparent;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__item:hover {
  transform: scale(1.03);
}

.gallery__info {
    display: flex;
    justify-content: space-around;
}

.gallery__info-item {
    text-align: center;
}

.gallery {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 310px) {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 12px;
    justify-content: center;
  }
}

.gallery img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function)
 }

.load-more {
  display: none;
  
}

.load-more.is-visible {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  display: none;
}